@model _20T1020670.Web.Models.CategorySearchOutput

@{
    Layout = null;
}

<p style="margin-top:8px">Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> nhà cung cấp trong tổng số <strong>@string.Format("{0:N0}", @Model.PageCount) </strong>trang</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th>Tên loại hàng</th>
            <th>Mô tả</th>
            @*<th class="text-center">Nguồn gốc</th>*@
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                @*<td class="text-center">@item.ParentCategoryId</td>*@
                <td class="text-right ">
                    <a href="~/Category/Edit/@item.CategoryID" class="btn btn-success">
                        <i class="glyphicon glyphicon-edit" title="Sửa"></i>
                    </a>
                    <a href="~/Category/Delete/@item.CategoryID" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash" title="Xóa"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>

</table>

<div class="text-center">
    <ul class="pagination ">
        @if (Model.Page != 1)
        {
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(1)"><<</a>
            </li>
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.Page - 1)"><</a>
            </li>
        }

        @if (Model.Page <= 4)
        {
            for (int i = 1; i <= 7 && i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active"><a href="#">@i</a></li>
                }
                else
                {
                    <li class="paginate_button"><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                }
            }
        }
        else if (Model.Page >= Model.PageCount - 3)
        {
            for (int i = Model.PageCount - 5; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active"><a href="#">@i</a></li>
                }
                else
                {
                    <li class="paginate_button"><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                }
            }
        }
        else
        {
            for (int i = Model.Page - 3; i <= Model.Page + 3; i++)
            {
                if (i == Model.Page)
                {
                    <li class="paginate_button active"><a href="#">@i</a></li>
                }
                else
                {
                    <li class="paginate_button"><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                }
            }
        }
        @if (Model.Page != Model.PageCount)
        {
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.Page + 1)">></a>
            </li>
            <li class="paginate_button">
                <a href="javascript:;" onclick="doSearch(@Model.PageCount)">>></a>
            </li>
        }

    </ul>
</div>


